version: 0.1.0-appveyor-{build}-{branch}

environment:
    matrix:
        - generator: "Visual Studio 10"
        - generator: "Visual Studio 11"
        - generator: "Visual Studio 12"

before_build:
    - cmake -G "%generator%"
