version: 0.1.0-appveyor-{build}-{branch}

environment:
    matrix:
        - generator: "Visual Studio 9 2008"
        - generator: "Visual Studio 10"
        - generator: "Visual Studio 11"
        - generator: "Visual Studio 12"

platform:
    - x64
    - x86

before_build:
    - cmake -G "%generator%"

build:
    project: "kauri.sln"
