##
##  kauri
##
##  Copyright (C) 2015 Stefano Azzalini <steazzalini>
##
##  This program is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program. If not, see <http://www.gnu.org/licenses/>.
##

version: 0.1.0-{build}-{branch}

# MSYS is installed only in the unstable image
# http://help.appveyor.com/discussions/questions/629-opencv-is-it-possible-to-install-opencv-in-appveyor
os: unstable

environment:
    matrix:
         - generator: "MSYS Makefiles"
#        - generator: "MinGW Makefiles"
#        - generator: "Visual Studio 9 2008"
#        - generator: "Visual Studio 10"
#        - generator: "Visual Studio 11"
#        - generator: "Visual Studio 11 Win64"
#        - generator: "Visual Studio 12"
#        - generator: "Visual Studio 12 Win64"

build_script:
    - cmd: md build
    - cmd: cd build
    - cmd: cmake ..
    - cmd: make

test_script:
    - cmd: make check

## END ##
